.red-bg {
    background-color: red;
}
.blue-bg {
    background-color: blue;
}
.yellow-bg {
    background-color: yellow;
    font-family: 'Times New Roman', Times, serif;
}
.green-bg {
    background-color: green;
}